/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

:root {
  --current-image-max-width: 500px;
  --topbar-height: 1.5rem;
  --topbar-vertical-padding: 5px;
  --notification-alert-width: 500px;
  --notification-alert-top: 3em;
}

.topbar {
  position: relative;
  background-color: black;
  color: white;
  font-size: var(--topbar-height);
}

.topbar-inner {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: var(--topbar-vertical-padding) 10px;
  margin: 0;
  box-sizing: border-box;
}

.current-image {
  position: absolute;
  left: 0;
  top: calc(var(--topbar-height) + 2 * var(--topbar-vertical-padding));
  max-width: var(--current-image-max-width);
}

.image-enter {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    left: calc(-1 * var(--current-image-max-width));
  }

  to {
    left: 0;
  }
}

.project-diffs {
  position: absolute;
  top: 4rem;
  right: 2rem;
  font-size: 2rem;
  font-family: monospace;
}

.diff-add {
  color: green;
  text-align: right;
}

.diff-delete {
  text-align: left;
  color: red;
}

.diff-filename {
  color: magenta;
}

.flag-on {
  color: green;
}

.flag-off {
  color: red;
}

.playing-song-container {
  padding: 1rem;
  border-radius: 1rem;
  background-color: purple;
  box-shadow: 1px black;
  color: white;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.playing-song-container img {
  width: 180px;
  border-radius: 1rem;
}

.song-name {
  font-size: 1.5rem;
}

.notification-alert {
  position: absolute;
  width: var(--notification-alert-width);
  top: var(--notification-alert-top);
  left: calc(50% - (var(--notification-alert-width) / 2));
  animation-duration: 1s;
  animation-name: show-notification;
}

.notification-image {
  max-width: var(--notification-alert-width);
}

.notification-title {
  width: 100%;
  position: absolute;
  top: 0;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  color: white;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

@keyframes show-notification {
  from {
    top: -300px;
  }

  to {
    top: var(--notification-alert-top);
  }
}
